<% provide(:title, "Resume") %>
<h1>Curriculum Vitae</h1>
<h2>Personal Details</h2>
<p>Name: Musa Omondi</p>
   <h2>Education</h2>
 <div class="row education">
         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">
                   <h3>Maseno Univesity</h3>
                  <p class="info">Bsc Computer Science 
               </div>

            </div> 
            <div class="row item">
               <div class="twelve columns">
                  <h3>Africa Institute of Reasearch And Development Studies (Jan 2013-April 2013)</h3>
                  <p class="info">Computer Packages 
               </div>

            </div>
             <div class="row item">
               <div class="twelve columns">
                  <h3>St. Pius Uriri Boys High School(Feb 2009-Nov 2012)</h3>
                  <p class="info">Kenya Certificate of Secondary Education.
   			 	<br />Mean Grade of A - (minus)
               </div>

            </div>
            <div class="row item">
               <div class="twelve columns">
                  <h3>Ng’ong’a primary school (Jan 2001-Nov 2008)</h3>
                  <p class="info">Kenya Certificate of Primary Education 
   			 	<br />Marks 324/500. 
               </div>

            </div>

         </div> 

      </div> 


  <h2>Hobbies</h2>
  <div class=" row hobbies">
         <div class="nine columns main-col">
                <ul>
             <li>Watching football favorite team Manchester united</li>
                    <li>Swimming</li>
                    <li>Travelling</li>
                    <li>Dancing</li>
                    <li>Playing Badminton</li>
             </ul>
			</div> 
      </div>
  <h2>Referee</h2>
  <div class=" row referee">
         <div class="nine columns main-col">
               
             <table style="width:100%">
                 <tr><td>Dr. Sylvester McOyowo,</td><td>Mr. Fanuel Okoth Obonyo</td></tr>
                 <tr><td>Dean school of computing,</td><td>Principal,</td></tr>
                 <tr><td>Maseno University.</td><td>Uriri High School,</td></tr>
                 <tr><td>P.O.Box Private Bag, Maseno</td><td>P.O.Box 66, Sare Awendo.</td></tr>
                 <tr><td>Cell: 0724 519458</td><td>Cell: 0724 519458</td></tr>
                 
             </table>
			</div> 
      </div>
  


  